.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
/* Define uma largura para o formulário */
#produtoForm {
    width: 50%;
    max-width: 300px;
    padding: 20px;
    background-color: #c7c7c7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}